---
import BaseHead from "../components/BaseHead.astro";
import NewNavmenu from "../components/NewNavmenu.astro";
import BaseHeader from "../components/BaseHeader.astro";
import BaseFooter from "../components/BaseFooter.astro";
import BaseScript from "../components/BaseScript.astro";
import BasePodcastBanner from "../components/BasePodcastBanner.astro";
import RandomReviews from "../components/RandomReviews.astro";


const { frontmatter } = Astro.props;

// Generate canonical URL for this review
const canonicalURL = `https://cinematen.be${Astro.url.pathname}`;

// Generate title and description for this review
const reviewTitle = `${frontmatter.title} - ${frontmatter.soort || 'Review'}`;
const reviewDescription = `Lees onze ${frontmatter.soort ? frontmatter.soort.toLowerCase() : ''} review van ${frontmatter.title}. Bekijk onze beoordeling en ontdek of deze ${frontmatter.soort ? frontmatter.soort.toLowerCase() : 'content'} de moeite waard is.`;

// Function to format the date and adjust for timezone
function formatDate(dateString) {
    const date = new Date(dateString);
    if (isNaN(date.getTime())) return ""; // Return empty string if date is invalid
    const options = {
        timeZone: "UTC",
        hour12: false
    }; // Set the timezone to UTC
    const formattedDate = date.toLocaleDateString("nl-NL", {
        day: "2-digit",
        month: "2-digit",
        year: "numeric",
    });
    const timePart = date.toLocaleTimeString("nl-NL", options);
    return timePart === "00:00"
        ? formattedDate
        : `${formattedDate} ${timePart}`; // Return only date if time is midnight, otherwise combine date and time
}

// Format the date
const formattedDateTime = formatDate(frontmatter.date);

// Function to generate star rating images based on the rating
function generateStarRating(rating) {
    const fullStar = "/images/star-full.png";
    const halfStar = "/images/star-half.png";
    const emptyStar = "/images/star-empty.png";

    const stars = [];
    let remainingRating = rating;

    for (let i = 0; i < 5; i++) {
        if (remainingRating >= 1) {
            stars.push(fullStar);
            remainingRating--;
        } else if (remainingRating > 0) {
            stars.push(halfStar);
            remainingRating = 0;
        } else {
            stars.push(emptyStar);
        }
    }

    return stars;
}

// Ensure rating is a number
const parsedRating = parseFloat(frontmatter.rating);
// Ensure rating is within the range of 0 to 5
const validatedRating = isNaN(parsedRating) ? 0 : Math.min(Math.max(parsedRating, 0), 5);
// Generate star rating images
const starRatingImages = generateStarRating(validatedRating);

console.log("Rating:", frontmatter.rating); // Add this line to check the value of rating

---


<html lang="nl">
    <head>
        <BaseHead 
            canonicalURL={canonicalURL} 
            title={reviewTitle} 
            description={reviewDescription}
            publishedDate={frontmatter.date}
            modifiedDate={frontmatter.date}
            articleType="article"
            author={frontmatter.schrijver}
            image={frontmatter.poster}
        />
    </head>
    <body class="body">
        <div class="page-wrapper">
            <NewNavmenu />
            <BaseHeader />
            <div
                data-w-id="75dba001-0326-9ad8-ca3e-3734b81d7ff9"
                class="content"
            >
                <div class="container">
                    <a
    href="javascript:history.back();"
    class="terug-knop w-inline-block"
>
    <div class="terug-div">
        <img
            src="https://assets-global.website-files.com/6613d9d7c23cff2286422b25/66145e1f24aa75e6e8efe154_pijl.svg"
            loading="lazy"
            width="10"
            alt=""
            class="image-4"
        />
        <div class="terugknop-text">
            Terug
        </div>
    </div>
</a>
                    <div class="content-left">
                        <div class="blog-post-container w-clearfix">
                            <img
                                src={frontmatter.poster}
                                loading="lazy"
                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 23vw, (max-width: 991px) 300px, 400px"
                                alt=""
                                class="review-poster"
                            />
                            <div
                                id="w-node-_069f2f58-921b-4412-13ba-a31b655496e4-9b14680e"
                                class="review-content-block"
                            >
                                <div
                                    id="w-node-_069f2f58-921b-4412-13ba-a31b655496e7-9b14680e"
                                    class="review-title"
                                >
                                    <div class="review-header-bottom">
                                        <h3 class="heading-h2 review-topic">
                                            {frontmatter.soort} door {
                                                frontmatter.schrijver
                                            }
                                        </h3>
                                        <h1 class="heading-h2 review-title">
                                            {frontmatter.title}
                                        </h1>
                                        {frontmatter.rating && frontmatter.rating > 0 && (
                                        <div class="rating-blue">
                                            {starRatingImages.map(starImage => (
                                                <img src={starImage} loading="lazy" alt="" class="star-image" />
                                            ))}
                                        </div> )}
                                    </div>
                                    {
                                        formattedDateTime && (
                                            <p class="paragraph-detials-small">
                                                {formattedDateTime}
                                            </p>
                                        )
                                    }
                                    </div>
                                </div>
                                <div
                                    id="w-node-_069f2f58-921b-4412-13ba-a31b655496ee-9b14680e"
                                    class="review-text w-richtext"
                                >
                                    <slot />
                                    {frontmatter.trailer && 
                                        <div id="trailer">
                                            <h2 style="text-align: center; margin-top: 80px;">Bekijk hier de trailer:</h2>
                                            <div class="video-container">
                                                <div class="video-wrapper">
                                                    <iframe src={`https://www.youtube-nocookie.com/embed/${frontmatter.trailer}`} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                        }                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <RandomReviews currentSlug={frontmatter.slug} />
                <BasePodcastBanner />
                <BaseFooter />
            </div>
            <BaseScript />
        </div>
    </body>
</html>
